* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  --colorGreen: rgba(3, 84, 16, 1);
  --colorLigth: #FFFFFF;
  --colorDark: #0000;
  --colorPal: rgba(0, 0, 0, 0.38);
  --colorVerte: rgba(3, 84, 16, 1);
  --colorRed: rgba(202, 17, 17, 1);
}

.container {
  background-image: url("client/images/mr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.container:hover {
  background-image: url("/images/imagehover.jpg");
}

.container .container-tittle {
  margin: auto;
  top: 18%;
  position: relative;
  background-color: var(--colorPal);
  width: 80%;
  height: 50%;

}

.container .container-tittle h1 {
  color: var(--colorLigth);
  font-size: 100px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.container .container-tittle p {
  margin-top: 4%;
  color: var(--colorLigth);
  font-size: 32px;
  display: flex;
  justify-content: center;
  animation: slideText 3s linear infinite;
}

@keyframes slideText {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200px);
  }
}
.btn-container {
  color: var(--colorLigth);
  align-items: center;
  padding: 12px 35px;
  border-radius: 70px;
  font-size: 20px;
  font-weight: bold;
  /* margin-top: 8%; */
}

 .btn-1 {
  background-color: var(--colorLigth);
  color: black;
  padding: 12px 35px;
  border-radius: 70px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 14%;
  margin-left: 30%;
}

.btn-2 {
  background-color: var(--colorVerte);
  color: var(--colorLigth);
  padding: 12px 35px;
  border-radius: 70px;
  font-size: 20px;
  font-weight: bold;
}

.btn-3 {
  background-color: var(--colorRed);
  color: var(--colorLigth);
  padding: 12px 55px;
  border-radius: 70px;
  font-size: 20px;
  font-weight: bold;

}

/* || RESPONSIVE TABLETTE */
@media screen and (max-width: 1024px) {
  .container {
    height: 70vh;
    width: 100%;
  }
  .container .container-tittle {
    width: 80%;
    height: 30%;
top: 30%;
  }

  .container .container-tittle h1 {
    font-size: 70px;
  }

  .container .container-tittle p {
    font-size: 30px;
    animation: slideText 3s linear infinite;
  }

  @keyframes slideText {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(40px);
    }
  }

   
  .btn-1,
  .btn-2
   {
    padding: 5px 5px;
    margin-top: 45%;
    margin-left: 3%;
  }
  .btn-3{
    padding: 5px 5px;
    margin-left: 3%;
  }
}
/* || RESPONSIVE MOBILE */
@media screen and (max-width: 786px){
  .container {
    height: 100vh;
    width: 100%;
  }
  .container .container-tittle {
    width: 85%;
    height: 30%;
  }
  .container .container-tittle h1 {
    font-size: 35px;
  }
  .container .container-tittle p {
    font-size: 18px;
    animation: slideText 3s linear infinite;
  }

  @keyframes slideText {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(40px);
    }
  }
  .btn-1,
  .btn-2
   {
    padding: 5px 5px;
    margin-top: 35%;
    margin-left: 3%;
  }
  .btn-3{
    padding: 5px 5px;
    margin-left: 3%;
  }
}