* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  --colorGreen: rgba(3, 84, 16, 1);
  --colorLigth: #FFFFFF;
  --colorDark: #0000;
  --colorPal: rgba(0, 0, 0, 0.38);
  --colorVerte:rgba(3, 84, 16, 1);
  --colorRed:rgba(202, 17, 17, 1);
}

.container {
  background-image: url("/home/user-24-c1/PROJET WINEVENTS/client/images/mr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.container .container-tittle {
  margin: auto;
  top: 18%;
  position: relative;
  background-color: var(--colorPal);
  width: 80%;
  height: 50%;

}

.container .container-tittle h1 {
  color: var(--colorLigth);
  font-size: 100px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.container .container-tittle p {
  margin-top: 4%; 
  color: var(--colorLigth);
  font-size: 32px;
  display: flex;
  justify-content: center;

}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 20%;
  color: var(--colorLigth);
  padding: 12px 35px;
  border-radius: 70px;
  font-size: 20px;
  font-weight: bold;
  

}

.btn-container .btn-1 {
  background-color: var(--colorLigth);
  color: black;
  padding: 12px 35px;
  border-radius: 70px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 63%;
  

}

.btn-container .btn-2 {
  background-color: var(--colorVerte);
  color: var(--colorLigth);
  padding: 12px 35px;
  border-radius: 70px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 78%;
 

}

.btn-container .btn-3 {
  background-color: var(--colorRed);
  color: var(--colorLigth);
  padding: 12px 55px;
  border-radius: 70px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 75%;
  

}