.conseiller {
    background-color: rgb(248, 242, 251);
    /* background-color: rgba(255, 192, 203, 1); */
    border: 2px solid;
    border-color: rgb(232, 232, 237);
    width: 1200px;
    height: 550px;
    margin-top: 5%;
    margin-left: 17%;
    margin-right: 15%;

}

.conseiller-img img {
    width: 100px;
    border-radius: 120px;
    display: flex;

}

.conseiller-img {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 5%;
}

.conseiller h2 {
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
p{
    text-align: center;
    margin-top: 3%;
}
.conseiller-svg{
display: flex;
justify-content: center;
margin-top: 5%;
font-size: 24px;

}
.conseiller-svg img {
    width: 60px; 
}
/* TABLETTE */
@media screen and (max-width: 1024px){
    .conseiller {
        background-color: rgb(248, 242, 251);
        border: 2px solid;
        border-color: rgb(232, 232, 237);
        width: 600px;
        height: 450px;
        margin-top: 5%;
        margin-left: 15%;  
   
    }
}
/* || RESPONSIVE MOBILE */
@media screen and (max-width: 786px) {
    .conseiller {
        width: 300px;
        height: 310px;
        margin-top: 8%; 
       margin-left: 9%; 
    } 
    p{
        margin-top: 3%;
        font-size: 12px;
    }
    .conseiller-svg img {
        width: 40px; 
        
    }
    .conseiller-img img {
        width: 70px;
        border-radius: 120px;
        display: flex;
    
    }
    .conseiller h2 {
        font-size: 23px;
    }
} 