 .container2 {
     background-image: url("/images/Untitled.png");
     font-size: 32px;
     max-width: 2000px;
     max-height: 1150px;
     margin-top: 3%;
 }

 .container2-p {
     /* margin-left: 8%; */
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .container2-p h1 {
     text-align: center;
     font-size: 40px;
 }

 .container2-img {
     max-width: 650px;
     max-height: 750px;
     margin-right: 5%;

 }

 #container2-btn {
     margin-top: 5%;
     padding: 15px 45px;
     border-radius: 10px;
     border-color: rgba(202, 17, 17, 1);
     background-color: white;
     color: rgba(202, 17, 17, 1);
     font-size: 20px;
     font-weight: bold;
     margin-left: 42%;
 }

 /* TABLETTE */
 @media screen and (max-width: 1024px) {
     .container2 {
         font-size: 20px;
         max-width: 1100px;
         max-height: 990px;
     }

     .container2-img {
         width: 350px;
         height: 550px;
     }

     .container2-btn {
         margin-top: 10%;
         padding: 5px 15px;
         margin-left: 13%;
     }
     #container2-btn {
        
        margin-left: 30%;
    }
 }
  /* || RESPONSIVE MOBILE */
  @media screen and (max-width: 786px){
    .container2 {
        font-size: 15px;
        margin-bottom: 15%;
    }

    .container2-btn {
        padding: 5px 5px;
        margin-left: 3%;
    }
    #container2-btn {
        padding: 10px 5px;
        font-size: 12px;
        margin-right: 42%;
    }
    .container2-p {
        font-size: 15px;
    }
   
    .container2-p h1 {
        font-size: 20px;
    }
}