.footer {
    background-image: url("/images/Rectangle 18.png");
    background-size: cover;
    background-position: center;
    width: 1833px;
    height: 480px;
    margin-top: 10%;
    display: flex;
    gap: 15%;

}

.logo {
    width: 350px;
    height: 300px;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 3%;
    border-radius: 125%;
}

.footer-text {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    list-style: none;
    margin-top: 5%;

}

.footer-svg img {
    width: 80px;
    height: 40px;
    display: flex;

}

.footer-svg li {
    font-size: 20px;
    font-weight: bold;

}

.footer-text2 {
    margin-top: 5%;
}

.footer-text2 p {
    margin-top: 15%;
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin-left: 13%;

}

.footer-svg .Footer-svg-conctact {
    color: rgba(3, 84, 16, 1);
    font-size: 32px;
    font-weight: bold;
    margin-left: 5%;
}

.footer-text2 .footer-page {
    color: rgba(3, 84, 16, 1);
    font-size: 32px;
    font-weight: bold;
}

.footer-phone,
.footer-mail {
    display: flex;
    margin-top: 10%;

}

/* TABLETTE */
@media screen and (max-width: 1024px) {
    .footer {
        background-size: cover;
        background-position: center;
        width: 822px;
        height: 380px;
        margin-top: 10%;
        display: flex;
        gap: 15%;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .footer-svg img {
        width: 50px;
        height: 30px;
    }

    .footer-svg li {
        font-size: 18px;
    }

    .footer-svg .Footer-svg-conctact {
        font-size: 28px;
    }

    .footer-text2 .footer-page {
        font-size: 25px;
        
    }

    .footer-text2 p {
        font-size: 18px;
    }


    .footer-svg {
        margin-right: 19%;
    }
  
}
  /* || RESPONSIVE MOBILE */
  @media screen and (max-width: 786px){
    .footer {
        width: 359px;
        height: 190px;  
    }
    .footer-svg img {
        width: 28px;
        height: 28px;
    }
    .footer-text2 p {
        font-size: 8px;
    }

    .footer-svg li {
        font-size: 8px;
    }

    .footer-svg .Footer-svg-conctact {
        font-size: 15px;
    }

    .footer-text2 .footer-page {
        font-size: 15px;
        
    }

    .logo {
        width: 45px;
        height: 45px;
    }
}