:root {
    --colorGreen: rgba(3, 84, 16, 1);
    --colorLigth: #FFFFFF;
    --colorDark: #0000;
}

.header{
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0%;
    font-size: 20px;
    width: 1640px;
    height: 80px;
    /* margin-top: 3%; */
  margin-left: 4%;
}
.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 26%;
    gap: 10%;
}
.header img {
    width: 28%;
    height: 70%;
 border-radius: 250% 250% 250% 250%;
}

.btn-header {
    background-color: var(--colorGreen);
    color: var(--colorLigth);
    padding: 12px 35px;
    border-radius: 70px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 88%;

}




.underline {
    text-decoration: none;
    color: black;
    font-size: 28px;
    font-weight: bold;
    margin-top: 1%;
    margin-right: 2%;
}
.header :hover{
    color: red;
}


.menu-icon {
    display: none; /* Masquer l'icône de menu par défaut */
}

/* TABLETTE */
@media screen and (max-width: 1024px){
   .header{
    max-width: 730px;
    height: 60px; 
   }
   .header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 25%;
    gap: 5%;
} 
   .underline {
    font-size: 18px;
    margin-top: 2%;
    margin-right: 2%;
}
.btn-header {
    padding: 6px 15px;
    font-size: 18px;
    
}
 }

/* || RESPONSIVE MOBILE */
@media screen and (max-width: 786px){
    .menu-icon {
        display: block;
    }
    .menu {
        display: none; /* Masquer le menu par défaut sur mobile */
        transition: transform 0.3s ease-in-out;
    }
    .menu.open {
        display: block; /* Afficher le menu lorsqu'il est ouvert */
    }
}