 .apropos {
   background-image: url("/images/PULL.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 750px;
   width: 1830px;
 }

 .apropos-text {
   margin: auto;
   top: 23%;
   position: relative;
   background-color: rgba(255, 255, 255, 0.41);
   width: 30%;
   height: 45%;
   border-radius: 125%;

 }

 .apropos-text h2 {
   font-size: 54px;
   justify-content: center;
   display: flex;
   padding-top: 20%;
 }

 .apropos-text2 {
   margin-top: 25%;
   text-align: center;
   font-size: 24px;

 }

 .box {
   display: flex;
   justify-content: center;
   gap: 5%;
   margin-top: 4%;
   margin-left: 2%;
   margin-right: 2%;
   transition: transform 0.5s ease;
 }


 .box-1 {
   background-color: rgba(245, 12, 12, 0.4);
   width: 350px;
   height: 450px;
   margin: auto;
   top: 10%;
   position: relative;
   border-radius: 4px 4px 4px 4px;
 }

 .box-2 {
   background-color: rgba(238, 107, 12, 0.31);
   width: 350px;
   height: 450px;
   margin: auto;
   top: 10%;
   position: relative;
   transform: rotate(360deg);
   border-radius: 4px 4px 4px 4px;
 }

 .box-3 {
   background-color: rgba(217, 99, 191, 0.27);
   width: 350px;
   height: 450px;
   margin: auto;
   top: 10%;
   position: relative;
   border-radius: 4px 4px 4px 4px;
   
 }

 .box :hover {
   background-color: #FFFFFF;
   border: 3px solid;
   transform: rotate(360deg);
   transition: transform 0.5s ease;
 }
 
 .box-3 h3,
 .box-2 h3,
 .box-1 h3 {
   font-size: 30px;
   margin-top: 45%;
   color: #555555;
   font-weight: bold;
   margin-right: 8%;
 }

 .app-text {
   text-align: center;
   margin-top: 5%;
   font-size: 24px;

 }

 .app-text .app-text1 {
   font-weight: bold;
   font-size: 32px;

 }

 .app-btn {
   background-color: rgba(238, 107, 12, 0.64);
   border-color: rgba(238, 107, 12, 0.64);
   padding: 12px 15px;
   border-radius: 70px;
   font-size: 20px;
   font-weight: bold;
   margin-top: 3%;

 }

 .color {
   color: rgba(245, 12, 12, 1);
 }

 .color2 {
   color: rgba(3, 84, 16, 1);
 }

 .color3 {
   color: rgba(37, 3, 249, 0.97);
 }
 /* TABLETTE */
@media screen and (max-width: 1024px){
  .apropos {
    height: 40vh;
    width: 100%;
  }
  .apropos-text2 {
    font-size: 20px;
  }
  .apropos-text h2 {
    font-size: 37px;
    padding-top: 28%;
  }
  .apropos-text {
    top: 28%;
  }
  .box-3,
 .box-2 ,
 .box-1 {
    width: 250px;
    height: 350px;
    
  }
  .box-3 h3,
 .box-2 h3,
 .box-1 h3{
    font-size: 25px;
    
  }
 
}