.contact {
    background-image: url("/images/cheers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    width: 1830px;
}

.contact-text {
    margin: auto;
    top: 23%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.22);
    width: 55%;
    height: 45%;
}

.contact-text h2 {
    font-size: 54px;
    justify-content: center;
    display: flex;
    padding-top: 15%;
}

.contact-text2 {
    margin-top: 28%;
    text-align: center;
    font-size: 28px;
    float: inline-start;
    margin-left: 8%;

}

.contact-text2 .text3 {
    margin-top: 4%;
    color: rgba(3, 84, 16, 1);
    font-weight: 800;
}

.contact-text2 .text4 {
    color: rgba(3, 84, 16, 1);
    font-weight: 800;
}

.boxContact {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin: 14px 2% 0;
    margin-top: 28%;
    position: relative;
    background-image: url("/images/btfull.jpg");
    float: inline-end;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 570px;
    height: 660px;
}

.boxContact h2 {
    text-align: center;
    margin-top: 3%;
    font-size: 24px;
    color: red;
    font-weight: 700;
}

.formContact {
    flex-shrink: 1;
    flex-basis: 40rem;
    border: 1px solid var(--colorBorder01);
    /* width: 100%;
    height: 35px; */
}

.formContact>div {
    padding: 14px 21px 41px 21px;
}

.formContact ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.formContact select {
    width: 100%;
    height: 35px;
    color: blue;
    font-weight: 700;
}

option {
    color: black;
}

.formContact label {
    display: block;
    color: blue;
    font-weight: 700;
}

.formContact input {
    width: 100%;
    height: 35px;

}

input:focus {
    outline: none;
}

.formContact .btns {
    display: flex;
    justify-content: center;
    column-gap: 36px;
    margin-top: 50px;
    color: white;

}

.btns input:hover {
    opacity: 0.7;
}

.btn__submit,
.btn__reset {
    cursor: pointer;
    color: var(--colorLight);
    background-color: rgba(3, 84, 16, 1);
    width: auto;
    padding: 10px 45px;
    border: none;
}

.btn__reset {
    background-color: var(--colorRed);
}

/* TABLETTE */
@media screen and (max-width: 1024px) {
    .contact {
        height: 40vh;
        width: 100%;
        cursor: pointer;
    }

    .boxContact {
        margin-right: 15%;
        margin-top: 10%;


    }

    .contact-text2 {
        margin-top: 30%;
        text-align: center;
        margin-left: 8%;

    }
}

/* || RESPONSIVE MOBILE */
@media screen and (max-width: 786px) {
    .boxContact {
        margin-right: 5%;
        margin-top: 10%;


    }

    .contact-text2 {
        margin-top: 48%;
        text-align: center;
        margin-left: 8%;
        font-size: 18px;
    }

    .boxContact {
        column-gap: 10px;
        width: 300px;
        height: 500px;
        margin-top: 14%;
        margin-right: 8%;
    }

    .formContact input {
        width: 80%;
        height: 35px;
        margin-left: 13%;
    }

    input:focus {
        outline: none;
    }

    .formContact label {
        margin-left: 13%;
    }

    .btn__submit,
    .btn__reset {
        cursor: pointer;
        width: auto;
        padding: 8px 15px;
    }

    .btns input:hover {
        opacity: 0.7;
    }

    .btn__reset {
        padding: 8px 25px;
        margin-right: 15%;
    }

    .formContact select {
        width: 80%;
        height: 35px;
        margin-left: 15%;
    }
}